* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Arial, sans-serif;
  color: #222;
  background-color: #F6F5AE;
}

#about, #performances, #composed-music, #dance-recitals, #origami, #choose-your-own-adventure {
  border-radius: 20px;
  margin: 30px auto;
  width: 80%;
  padding: 25px;
  background-color: #FFE;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #292800;
}

a {
    color: #2E86AB;
}

h3, p {
  text-indent: 20px;
}

p, li {
  font-size: 20px;
  color: #292800;
}

header, footer {
  text-align: center;
  font-size: 0.9em;
  width: 100%;
  padding: 25px;
  background-color: #2E86AB;
}

footer p {
  color: #FFF;
}

img {
  width: 30%;
  padding: auto;
  margin: auto;
  border-radius: 10px;
}

#origami-images, #profile-container, #adventure-image {
  text-align: center;
}

.btn {
  display: block;
  margin: auto;
  padding: 25px;
  width: 50%;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background-color: #2E86AB;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: rgb(221, 89, 89);
}